pytorch 
torchvision 
torchaudio 
pytorch-cuda==12.1 # 如果不需要cuda，可以去掉这一行
fastapi
pydantic
neomodel
json5
uvicorn
transformers
pandas
numpy
scikit-learn
cython
mypy
openpyxl
tiktoken
einops 
transformers_stream_generator
accelerate
optimum
